.Background{

    background-color: #022737;
}
.HeaderTop{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.HeaderTop ul{
    list-style: none;
    width: 50%;
    display: flex;
    color: white;
    justify-content: space-between;
}

.HeaderTop ul li{
     align-self: center;
}
  .HeaderTop ul p{
      cursor: pointer;
  }
.HeaderTop select{
    color:black;
    border-radius: 10.5px;
    width: 246px;
    
}

.HeaderTop img{
    /* height: 16px; */
}
@media (max-width:1190px){
    .HeaderTop{
        width: 90%;
    }
    .HeaderTop ul{
        width: 100%;
        margin-right: 10px;
        justify-content: flex-end;
    }
    .HeaderTop ul li{
     margin-left: 10px;
}

}
@media (max-width:768px){
   .HeaderTop ul{
       width: 90%;
       justify-content: flex-end;
   }
   .HeaderTop ul p{
       display: none;
   }
}

@media (max-width:320px){
    .HeaderTop{
        width: 320px;
    }
}