.PageInfo{
    padding-bottom: 40px;
}
.PageInfo p:first-child{
    color: #022737;
    font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.PageInfo p:last-child{
    color: #505050;
    font-size: 16px;
    line-height: 1.5;
}
.PageInfo input{
     width:200px;
     padding:4px;
     margin-right:10px;
 }
  .PageInfo button{
       margin:0 5px;
       padding: 0 5px;
  }
  .PageInfo code{
       margin:0 5px;
       padding: 0 5px;
       cursor: pointer;
  }
@media (max-width:1024px){
.PageInfo{
    width: 90%;
    background-color: turquoise;
}

}
@media (max-width:320px){
    .PageInfo{
        width: 280px;
        margin:0 20px;
    }
}